{% extends 'general/base.html' %}
{% block menu %}{% include "general/taxe_menu.html" %}{% endblock%}
{% block form_modal_title %}Crear Pais{% endblock %}
{% block script %}
<script>
$('#GeneralModal').modal('{{modal}}');
</script>
{% endblock %}
{% block container %}
	<div class="row mt-2 d-flex justify-content-end">
		<a class="h6 text-success font-weight-bold" href="#" role="button" data-toggle="modal" data-target="#GeneralModal"><i class="fa fa-plus mr-2"></i>Nuevo</a>
	</div>
	<div class="row mx-0 table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Departamento</th>
					<th scope="col">Pais</th>
					<th scope="col">Estado</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for department in departments %}
				<tr>
					<th scope="row">{{ department.name }}</th>
					<td>{{ department.country.name }}</td>
					<td>{{ department.state.name }}</td>
					<td>
						<a class="fa fa-pencil-square-o text-Cprimary ml-2 cursor-pointer" href="{% url 'regions:departments' department.id %}"></a>
					</td>
				</tr>		
				{% endfor %}
			</tbody>	
		</table>
	</div>
{% endblock %}
{% block modal_title %}{% if department %}Editar {% else %}Crear{% endif %} departamento{% endblock%}
{% block modal_body %}
<form  method="POST" class="form-row form-signin m-2" id="createform">
	{% csrf_token %}
	<div class="form-group col-6 text-center">
		<label for="name">
			Nombre:
    	</label>
    	<input type="text" class="form-control {% if form.name.errors %}}border-bottom border-danger{% endif %}" name="name" id="name" placeholder="" value="{% if form.errors %}{{form.name.value}}{% else %}{{department.name}}{% endif %}">
    	<div class="help-block with-errors text-danger">{{form.name.errors}}</div>
	</div>
	<div class="form-group col-6 text-center">
		<label for="state">
			Estado:
    	</label>
    	<select class="form-control {% if form.state.errors %}}border-bottom border-danger{% endif %}" name="state" id="state">
    		<option>Seleccione...</option>
    		{% for x in states %}
    		<option value="{{x.id}}" {% if form.errors and form.state.value|floatformat:'0' == x.id|floatformat:'0' %} selected {% elif x.id|floatformat:'0' == department.state.id|floatformat:'0'%}selected{% endif %}>{{x.name}}</option>
    		{% endfor %}
    	</select>
    	<div class="help-block with-errors text-danger">{{form.state.errors}}</div>
	</div>
	{% for err in form.non_field_errors %}
	<div class="col-10 offset-1">
		<div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{form.non_field_errors}}
        </div>
	</div>
    {% endfor %}
</form>
{% endblock%}
{% block modal_footer %}
<div class="col-6">
	<button type="button" class="btn btn-sm btn-block btn-secondary" data-dismiss="modal">Cerrar</button>
</div>
<div class="col-6">
	<button type="submit" form="createform" class="btn btn-sm btn-block btn-primary">
		{% if department %}Editar{% else %}Crear{% endif %}
	</button>	
</div>
{% endblock%}