{% extends 'general/base_front.html' %}
{% load humanize %}
{% load static %}
{% block header_color %} bg-Cprimary {% endblock%}
{% block footer_color %} bg-Csecondary {% endblock%}
{% block script %} 
<script type="text/javascript" src="{% static 'apps/services/service_front_associate.js' %}"></script>
{% endblock%}
{% block container %}
<div class="row my-2 text-center">
	<div class="col text-center">
		Codigó de servicio
	</div>
</div>
<form class="row" method="post" id="form_code">
	{% csrf_token %}
	<div class="col-6 offset-3 col-md-2 offset-md-5 px-1">
		<div class="bg-white h1 p-2 text-center rounded-lg" id="code_text">
			------
		</div>
		<input type="hidden" name="code_verify" id="code_verify" value="">
		<div class="help-block with-errors text-danger">{{error}}</div>
	</div>
</form>
<div class="row my-2">
	<div class="col-6 offset-3 col-md-2 offset-md-5 px-0">
		<div class="row">
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="1">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">1</div>
                </div>
			</div>
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="2">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">2</div>
                </div>
			</div>
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="3">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">3</div>
                </div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="4">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">4</div>
                </div>
			</div>
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="5">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">5</div>
                </div>
			</div>
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="6">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">6</div>
                </div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="7">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">7</div>
                </div>
			</div>
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="8">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">8</div>
                </div>
			</div>
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="9">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">9</div>
                </div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="0">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">0</div>
                </div>
			</div>
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold">-</div>
                </div>
			</div>
			<div class="col-4 px-2">
				<div class="card-CResponsive pt-C80 bg-Csecondary rounded-C5" data-number="----">
                    <div class="w-100 h-100 d-flex text-Cprimary align-items-center justify-content-center h1 font-weight-bold px-3"><img src="{% static 'image/delete-left-solid.svg' %}" class="img-fluid"></div>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col-8 offset-2">
		<h1 class="text-center text-white">{% if request.user.groups.all.0.id == 1 %}AFILIADO{% elif request.user.groups.all.0.id == 5 %}PLUSS{% else %}ASOCIADO{% endif %}</h1>
	</div>
</div>
<div class="row mt-3">
	<div class="col-8 offset-2 col-md-6 offset-md-3 text-center">
		<div class="row">
			<div class="col-4">
				<div class="m-0 small font-weight-bold h7-C">COD MEMBRESIA</div>
				<div class="m-0 small">{{card.0.code}}</div>
			</div>
			<div class="col-4">
				<div class="m-0 small font-weight-bold h7-C">CATEGORÍA</div>
				<div class="m-0 small">{{extended_user.category.name}}</div>
			</div>
			<div class="col-4">
				<div class="m-0 small font-weight-bold h7-C">MUSICA FAVORITA</div>
				<div class="m-0 small">{{extended_user.favorite_music}}</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-4">
				<div class="m-0 small font-weight-bold h7-C">EMISORA</div>
				<div class="m-0 small">{{extended_user.favorite_station}}</div>
			</div>
			<div class="col-4">
				<div class="m-0 small font-weight-bold h7-C">CIUDAD</div>
				<div class="m-0 small">{{extended_user.city.name}}</div>
			</div>
			<div class="col-4">
				<div class="m-0 small font-weight-bold h7-C">SEXO</div>
				<div class="m-0 small">{{extended_user.gender.name}}</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-4">
				<div class="m-0 small font-weight-bold h7-C">RH</div>
				<div class="m-0 small">{{extended_user.blood_type.name}}</div>
			</div>
			<div class="col-4">
				<div class="m-0 small font-weight-bold h7-C">MARCA</div>
				<div class="m-0 small">{{vehicle.brand}}</div>
			</div>
			<div class="col-4">
				<div class="m-0 small font-weight-bold h7-C">PLACA</div>
				<div class="m-0 small">{{vehicle.plate}}</div>
			</div>
		</div>
	</div>
</div>
<div class="row mt-4">
	<div class="col-6  offset-3 col-md-2 offset-md-5">
		<div class="form-group text-center">
			<button type="submit" form="form_code" class="btn bg-Csecondary text-Cprimary form-control rounded-pill">Ingresado</button>
		</div>
	</div>
</div>
{% comment %}
<div class="row">
	<div class="col-4 offset-2 px-2">
		<img src="{% static 'image/cambio_vehiculo.png' %}" class="img-fluid">
	</div>
	<div class="col-4 px-2">
		<img src="{% static 'image/renueva_servicio.png' %}" class="img-fluid">
	</div>
</div>
<div class="row mt-3">
	<div class="col-8 offset-2 px-3 border border-Cprimary rounded-C5 text-center py-2">
		<span class="text-white">Tu servicio vence </span>
		<span class="text-Cprimary">21/08/2014</span>
	</div>
</div>
<div class="row my-3">
	<div class="col-4 offset-4">
		<hr class="bg-Cprimary">
	</div>
</div>
<div class="row">
	<div class="col-4 offset-2 p-2">
		<img src="{% static 'image/activa_tarjeta.png' %}" class="img-fluid">
	</div>
	<div class="col-4 p-2">
		<img src="{% static 'image/plan_invitado.png' %}" class="img-fluid">
	</div>
	<div class="col-4 offset-2 p-2">
		<img src="{% static 'image/actualiza_datos.png' %}" class="img-fluid">
	</div>
	<div class="col-4 p-2">
		<img src="{% static 'image/invita_codigo.png' %}" class="img-fluid">
	</div>
	<div class="col-4 offset-2 p-2">
		<img src="{% static 'image/perdiste_tarjeta.png' %}" class="img-fluid">
	</div>
	<div class="col-4 p-2">
		<img src="{% static 'image/olvidaste_articulo.png' %}" class="img-fluid">
	</div>
	<div class="col-4 offset-2 p-2">
		<img src="{% static 'image/ayudanos_mejorar.png' %}" class="img-fluid">
	</div>
	<div class="col-4 p-2">
		<img src="{% static 'image/servicios_facturados.png' %}" class="img-fluid">
	</div>
	<div class="col-4 offset-2 p-2">
		<img src="{% static 'image/darse_baja.png' %}" class="img-fluid">
	</div>
	<div class="col-4 p-2">
		<img src="{% static 'image/medios_pago.png' %}" class="img-fluid">
	</div>
</div>
<div class="row my-3">
	<div class="col-4 offset-4">
		<hr class="bg-Cprimary">
	</div>
</div>
<div class="row text-center">
	<div class="col text-white font-weight-bold">
		Recomendado
	</div>
</div>
<div class="row mt-3">
	<div class="col-1 d-flex align-items-center justify-content-center">
		<i class="fa fa-chevron-left text-Cprimary pointer-C" data-target="#multi-item-carousel" data-slide="prev"></i>
	</div>  
    <div class="col-10">
        <!--Carousel Wrapper-->
        <div id="multi-item-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              {% for x in publications_secondary %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row align-items-center pb-3">
                      {% for y in x %}
                        <div class="col-6">
                          <div class="card-CResponsive pt-C100 ptp-C90 ">
                            <div class="card shadow-sm w-100 h-100 rounded-C overflow-hidden">
                              <a class="h-100 w-100" href="{{y.url}}" target="_blank">
                                <div class="row h-65 m-0 full-Cimage" style="background-image: url({{y.photo.url}});">
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
              {% endfor %}
            </div>
            <!--/.Slides-->
        </div>
    <!--/.Carousel Wrapper-->
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
    	<i class="fa fa-chevron-right text-Cprimary pointer-C" data-target="#multi-item-carousel" data-slide="next"></i>
    </div>
</div>
<div class="row mt-3">
	<div class="col-4 offset-4">
		<hr class="bg-Cprimary">
	</div>
</div>
{% endcomment %}
{% endblock%}
{% block footer %}
<div class="row">
	<div class="col">
		<div class="row mt-3">
			<div class="col-2 offset-5">
				<img src="{% static 'image/ado_iso.png' %}" class="img-fluid">
			</div>
		</div>
		<div class="row mt-3">
			<div class="col px-0">
				<img src="{% static 'image/footer.png' %}" class="img-fluid">
			</div>
		</div>
	</div>
</div>	
{% endblock%}