{% load humanize %}
<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% load static %}
		<title>Amarillos de oro</title>

		<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'fonts/css/font-awesome.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
	</head>
	<body class="h-100 d-flex align-items-start flex-column {% block header_color %} {% endblock%}">
		<div class="container-fluid">	
		{% block header %}
			{% include "general/nav_front.html" with hide_subscription="true" hide_card="true" %}
		{% endblock%}
		</div>
		<div class="container-fluid mb-auto">
		{% block container %}

		{% endblock%}
		</div>
		<div class="container-fluid align-self-end {% block footer_color %}  {% endblock%}">
		{% block footer %}

		{% endblock%}
		</div>
		<script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'apps/general/general.js' %}"></script>
		<script type="text/javascript" src="{% static 'apps/general/config.js' %}?V=2"></script>
		{% block script %}

		{% endblock%}
		<script type="text/javascript">
				$(".js-dropdown_login").on("click", function(){
					$('[aria-labelledby="navbarDropdownLogin"]').toggleClass('show');
				});
		</script>
	</body>
</html>