{% extends 'general/base_login.html' %}
{% load static %}
{% block script %}
<script type="text/javascript" src="{% static 'apps/users/registration.js' %}"></script>
{% endblock%}
{% block container %}
<div class="container-fluid mb-auto">
	<div class="row mt-4">
		<div class="col-4 offset-4">
			<img src="{% static 'image/ado_logo_s.png' %}" class="img-fluid">
		</div>
	</div>
	<div class="row my-4 text-center">
		<div class="col font-weight-bold">
			RECUPERAR CONTRASEÑA
		</div>
	</div>
	<form method="POST" class="form-row" id="createform">
		{% csrf_token %}
		<div class="form-group col-10 offset-1 col-md-6 offset-md-3   text-center">
			<label for="email">
         	 	Correo electronico:
        	</label>
        	<input type="text"  class="form-control rounded-pill" name="email" id="email" placeholder="ejemplo@correo.com" value="{{form.email.value}}">
        	<div class="help-block with-errors text-danger">{{form.errors.email}}</div>
		</div>
	</form>

	<!-- aca se recorren los errores que no estan amarrados a ningun campo en especifico -->
	{% for err in form.non_field_errors %}
	<div class="col-10 offset-1">
		<div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{err}}
        </div>
	</div>
    {% endfor %}
	<div class="row my-3">
		<div class="col-4 offset-2 col-md-4 offset-md-2">
			<a href="{% url 'users:login' %}" class="btn border-Csecondary form-control rounded-pill" role="button" aria-pressed="true">Regresar</a>
		</div>
		<div class="col-4 col-md-4 ">
			<button type="submit" form="createform" class="btn bg-Csecondary form-control rounded-pill text-Cprimary">Enviar</button>
		</div>
	</div>
</div>
<div class="container-fluid bg-Csecondary align-self-end">
	<div class="row">
		<div class="col">
			<div class="row mt-3">
				<div class="col-2 offset-5">
					<img src="{% static 'image/ado_iso.png' %}" class="img-fluid">
				</div>
			</div>
			<div class="row text-center">
				<div class="col-12 text-white">
					Políticas de privacidad<br>
					Terminos y condiciones
				</div>
			</div>
			<div class="row mt-3">
				<div class="col px-0">
					<img src="{% static 'image/footer.png' %}" class="img-fluid">
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
